![](https://www.dii.uchile.cl/wp-content/uploads/2021/06/Magi%CC%81ster-en-Ciencia-de-Datos.png)

# **Proyecto 1 - MDS7202 Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos üìö**

**MDS7202: Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos**

### Cuerpo Docente:

- Profesor: Ignacio Meza, Gabriel Iturra
- Auxiliar: Sebasti√°n Tinoco
- Ayudante: Arturo Lazcano, Angelo Mu√±oz

*Por favor, lean detalladamente las instrucciones de la tarea antes de empezar a escribir.*

### Equipo:

- Daniel Quilodr√°n
- Katherine Rutte


### Link de repositorio de GitHub: ``https://github.com/quilo98/Labs_MDS``

Fecha l√≠mite de entrega üìÜ: 27 de Octubre de 2023.

----

## Reglas

- **Grupos de 2 personas.**
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente ser√°n respondidos por este medio.
- Estrictamente prohibida la copia. 
- Pueden usar cualquier material del curso que estimen conveniente.

<div style="text-align: center;">
    <img src="https://worldskateamerica.org/wp-content/uploads/2023/07/SANTIAGO-2023-1-768x153.jpg" alt="Descripci√≥n de la imagen">
</div>

En un Chile azotado por un profundo caos pol√≠tico-econ√≥mico y el resurgimiento de programas de televisi√≥n de dudosa calidad, todas las miradas y esperanzas son depositadas en el √©xito de un √∫nico evento: Santiago 2023. La naci√≥n necesitaba desesperadamente un respiro, y los Juegos de Santiago 2023 promet√≠an ser una luz al final del t√∫nel.

El Presidente de la Rep√∫blica -conocido en las calles como Bomb√≠n-, consciente de la importancia de este evento para la revitalizaci√≥n del pa√≠s, decide convocar a usted y su equipo en calidad de expertos en an√°lisis de datos y estad√≠sticas. Con gran solemnidad, el presidente les encomienda una importante y peligrosa: liderar un proyecto que permitiera caracterizar de forma autom√°tica y eficiente los datos generados por estos magnos juegos. Para esto, el presidente le destaca que la soluci√≥n debe considerar los siguientes puntos:
- Caracterizaci√≥n autom√°tica de los datos
- La soluci√≥n debe ser compatible con cualquier dataset
- Se les facilita el dataset *olimpiadas.parquet*, el cual recopila data de diferentes juegos ol√≠mpicos realizados en los √∫ltimos a√±os

## 1.1 Creaci√≥n de `Profiler` Class (4.0 puntos)

Cree la clase `Profiler`. Como m√≠nimo, esta debe tener las siguientes funcionalidades:

1. El m√©todo constructor, el cual debe recibir los datos a procesar en formato `Pandas DataFrame`. Adem√°s, este m√©todo debe generar una carpeta en su directorio de trabajo con el nombre `EDA_fecha`, donde `fecha` corresponda a la fecha de ejecuci√≥n en formato `DD-MM-YYYY`.

2. El m√©todo `summarize`, el cual debe caracterizar las variables del Dataset. Como m√≠nimo, se espera que su m√©todo pueda:
    - Implementar una funcionalidad para filtrar y aplicar este m√©todo a una o m√°s variables de inter√©s.
    - Reportar el tipo de variable
    - Reportar el n√∫mero y/o porcentaje de valores √∫nicos de la variable
    - Reportar el n√∫mero y/o porcentaje de valores nulos
    - Si la variables es num√©rica:
        - Reportar el n√∫mero y/o porcentaje de valores cero, negativos y outliers
        - Reportar estad√≠stica descriptiva como el valor m√≠nimo, m√°ximo, promedio y los percentiles 25, 50, 75 y 100
   - Levantar una alerta en caso de encontrar alguna anomal√≠a fuera de lo com√∫n (el criterio debe ser ajustable por el usuario)
   - Guardar sus resultados en el directorio `EDA_fecha/summary.txt`. El archivo debe separar de forma clara y ordenada los resultados de cada punto.

3. El m√©todo `plot_vars`, el cual debe graficar la distribuci√≥n e interraciones de las variables del Dataset. Como m√≠nimo, se espera que su m√©todo pueda:
    - Crear la carpeta `EDA_fecha/plots`
    - Implementar una funcionalidad para filtrar y aplicar este m√©todo a una o m√°s variables de inter√©s.
    - Para las variables num√©ricas:
        - Genere un gr√°fico de distribuci√≥n de densidad
        - Grafique la correlaci√≥n entre las variables
    - Para las variables categ√≥ricas:
        - Genere un histograma de las top N categor√≠as (N debe ser un par√°metro ajustable)
        - Grafique el coeficiente V de Cramer entre las variables
    - Guardar cada gr√°fico generado en la carpeta `EDA_fecha/plots` en formato `.pdf` y bajo el naming `variable.pdf`, donde `variable` es el nombre de la variable de inter√©s
    
4. El m√©todo `clean_data`, el cual debe limpiar los datos para que luego puedan ser procesados. Como m√≠nimo, se espera que su m√©todo pueda:
    - Crear la carpeta `EDA_fecha/clean_data`
    - Implementar una funcionalidad para filtrar y aplicar este m√©todo a una o m√°s variables de inter√©s.
    - Drop de valores duplicados
    - Implementar como m√≠nimo 2 t√©cnicas para tratar los valores nulos, como:
        - Drop de valores nulos
        - Imputar valores nulos con alguna t√©cnica de imputaci√≥n
        - Funcionalidad para escoger entre una t√©cnica y la otra.
    - Una de las columnas del dataframe presenta datos *no at√≥micos*. Separe dicha columna en las columnas que la compongan.
        - Hint: ¬øQu√© caracteres permiten separar una columna de otra?
        - Para las pruebas con el dataset nuevo, puede esperar que exista al menos una columna con este tipo de problema. Asuma que los separadores ser√°n los mismos, aunque el n√∫mero de columnas a separar puede ser distinto.
    - Deber√≠an usar `FunctionTransformer`.
    - Guardar los datos procesados en formato `.csv` en el path `EDA_fecha/clean_data/data.csv`

5. El m√©todo `scale`, el cual debe preparar adecuadamente los datos para luego ser consumidos por alg√∫n tipo de algoritmo. Como m√≠nimo, se espera que su m√©todo pueda:
    - Crear la carpeta `EDA_fecha/scale`
    - Procesar de forma adecuada los datos num√©ricos y categ√≥ricos:
        - Su m√©todo debe recibir las t√©cnicas de escalamiento como argumento de entrada (utilizar solo t√©cnicas compatibles con el framework de `sklearn`)
        - Para los atributos num√©ricos, se transforme los datos con un escalador logar√≠tmico y un `MinMaxScaler`
        - Asuma que no existen datos ordinales en su dataset
    - Guardar todo este procesamiento en un `ColumnTransformer`.
    - Guardar los datos limpios y transformados en formato `.csv` en el path `EDA_fecha/process/scaled_features.csv`

6. El m√©todo `make_clusters`, el cual debe generar clusters de los datos usando alg√∫n algoritmo de clusterizaci√≥n. Como m√≠nimo, se espera que su m√©todo pueda:
    - Crear la carpeta `EDA_fecha/clusters`
    - Generar un estudio del codo donde se√±ale la cantidad de clusters optimos para el desarrollo.
    - Su m√©todo debe recibir el algoritmo de clustering como argumento de entrada (utilizar solo algoritmos compatibles con el framework de `sklearn`).
    - No olvide pre procesar adecuadamente los datos antes de implementar la t√©cnica de clustering. 
    - En este punto es espera que generen un `Pipeline` de sklearn. Adem√°s, su m√©todo deber√≠a usar lo construido en los puntos 4 y 5. 
    - Su m√©todo debe ser capaz de funcionar a partir de datos crudos (se descontar√° puntaje de lo contrario).
    - Una vez generado los clusters, proyecte los datos a 2 dimensiones usando su t√©cnica de reducci√≥n de dimensionalidad favorita y grafique los resultados coloreando por cluster.
    - Guardar los datos con su respectivo cluster en formato `.csv` en el path `EDA_fecha/clusters/data_clusters.csv`. Guarde tambi√©n los gr√°ficos generados en el mismo path.

7. El m√©todo `detect_anomalies`, el cual debe detectar anomal√≠as en los datos. Como m√≠nimo, se espera que su m√©todo pueda:

    - Crear la carpeta `EDA_fecha/anomalies`
    - Implementar alguna t√©cnica de detecci√≥n de anomal√≠as.
    - Al igual que el punto anterior, su m√©todo debe considerar los siguientes puntos:
        - No olvide pre procesar de forma adecuada los datos antes de implementar la t√©cnica de detecci√≥n de anomal√≠a. 
        - En este punto es espera que generen un `Pipeline` de sklearn. Adem√°s, su m√©todo deber√≠a usar lo construido en los puntos 4 y 5. 
        - Su m√©todo debe ser capaz de funcionar a partir de datos crudos (se descontar√° puntaje de lo contrario).
        - Su m√©todo debe recibir el algoritmo como argumento de entrada
        - Una vez generado las etiquetas, proyecte los datos a 2 dimensiones y grafique los resultados coloreando por las etiquetas predichas por el detector de anomal√≠as
    - Guardar los datos con su respectiva etiqueta en formato `.csv` en el path `EDA_fecha/anomalies/data_anomalies.csv`. Guarde tambi√©n los gr√°ficos generados en el mismo path.

8. El m√©todo `profile`, el cual debe ejecutar todos los m√©todos anteriores.

9. Crear el m√©todo `clearGarbage` para eliminar las carpetas/archivos creados/as por la clase `Profiler`.

Algunas consideraciones generales:
- Su clase ser√° testeada con datos tabulares diferentes a los provistos. No desarrollen c√≥digo *hardcodeado*: su clase debe ser capaz de funcionar para **cualquier** dataset. 
- Aplique todo su conocimiento sobre buenas pr√°cticas de programaci√≥n: se evaluar√° que su c√≥digo sea limpio y ordenado.
- Recuerden documentar cada una de las funcionalidades que implementen.
- Recuerden adjuntar sus `requirements.txt` junto a su entrega de proyecto. **El c√≥digo que no se pueda ejecutar por imcompatibilidades de librer√≠as no ser√° corregido.**

In [1]:
# Librerias necesarias 
import pandas as pd
import numpy as np
import pandas as pd
import datetime as dt
from IPython.display import HTML
#Libreria para plotear
import matplotlib.pyplot as plt
import os

import os
import seaborn as sns
from scipy import stats
import re
import itertools

from sklearn.compose import ColumnTransformer, TransformedTargetRegressor
from sklearn.preprocessing import FunctionTransformer, MinMaxScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.ensemble import IsolationForest
import shutil
import random

In [30]:
# !pip freeze > requirements.txt

In [3]:
# Visualizamos el dataset para ver con que variables nos podemos encontrar y asi tener una idea
df = pd.read_parquet('olimpiadas.parquet')
df.head()

,ID,Name,Sex,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,age-height-weight
0,1,A Dijiang,M,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None,24.0*180.0?80.0
1,2,A Lamusi,M,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None,23.0(170.0?60.0
2,3,Gunnar Nielsen Aaby,M,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,None,24.0(nan?nan
3,4,Edgar Lindenau Aabye,M,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,34.0:nan?nan
4,5,Christine Jacoba Aaftink,F,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None,21.0(185.0?82.0

In [4]:
# Paleta de colores de los Juegos Panamericanos Santiago 2023

# Define los colores en formato hexadecimal
colores = ["#0074FF", "#FE4F3A", "#FFD200", "#00CCCC"]

# Crea la paleta personalizada
stgo2023 = sns.color_palette(colores)

# Configura Seaborn para utilizar la paleta personalizada
sns.set_palette(stgo2023)

In [5]:
# Fijamos semilla
random_state=random.seed(42)
random_state

In [6]:
class Profiler:
    def __init__(self, data_file):
        """
        Constructor de la clase Profiler.

        Par√°metros:
        data_file (str): La ruta del archivo de datos que se desea analizar. 
        """
        self.data_file = data_file
        self.cleaned_data = None  # A√±ade un atributo para la data procesada
        self.scaled_data = None # A√±ade un atributo para la data escalada
        self.cluster_data = None #A√±ade un atributo para la data clusterizada
        self.anomalies_data = None #A√±ade un atributo para la data con anomalias
        self.date = dt.datetime.now().strftime("%d-%m-%Y")
        self.output_dir = "EDA_{}".format(self.date)
        os.makedirs(self.output_dir, exist_ok=True)

        # Intenta cargar el archivo en un DataFrame de Pandas
        try:
            if data_file.lower().endswith('.csv'):
                self.data = pd.read_csv(data_file)
            elif data_file.lower().endswith(('.xls', '.xlsx')):
                self.data = pd.read_excel(data_file)
            elif data_file.lower().endswith('.parquet'):
                self.data = pd.read_parquet(data_file)
            else:
                raise ValueError("Formato de archivo no compatible. Solo se admiten archivos CSV, Excel y Parquet.")
        except Exception as e:
            raise Exception(f"No se pudo cargar el archivo: {str(e)}")

    def summarize(self, columns=None, anomaly_threshold=0.05):
        """
        Caracteriza las variables del DataFrame y guarda los resultados en un archivo summary.txt.

        Par√°metros:
        columns (list): Lista de nombres de las columnas a analizar. Si es None, se analizar√°n todas las columnas.
        anomaly_threshold (float): Umbral para detectar anomal√≠as en porcentaje. Por defecto, 0.05 (5%).

        Nota: anomaly_threshold es el porcentaje de valores √∫nicos para considerar una variable como an√≥mala.
        """
        summary_file = os.path.join(self.output_dir, "summary.txt")

        with open(summary_file, "w") as f:
            f.write(f"Resumen del An√°lisis - Fecha: {self.date}\n\n")

            if columns is None:
                columns = self.data.columns

            for col in columns:
                f.write(f"Variable: {col}\n")
                variable = self.data[col]
                variable_type = variable.dtype
                num_unique = variable.nunique()
                num_null = variable.isnull().sum()
                f.write(f"Tipo de Variable: {variable_type}\n")
                f.write(f"N√∫mero de Valores √önicos: {num_unique}\n")
                f.write(f"N√∫mero de Valores Nulos: {num_null}\n")

                if variable_type in ["int64", "float64"]:
                    num_zeros = (variable == 0).sum()
                    num_negatives = (variable < 0).sum()
                    num_duplicates = variable.duplicated().sum()
                    Q1 = variable.quantile(0.25)
                    Q3 = variable.quantile(0.75)
                    IQR = Q3 - Q1
                    lower_limit = Q1 - 1.5 * IQR
                    upper_limit = Q3 + 1.5 * IQR
                    num_outliers = ((variable < lower_limit) | (variable > upper_limit)).sum()
                    descriptive_stats = variable.describe()
                    f.write(f"N√∫mero de Valores Cero: {num_zeros}\n")
                    f.write(f"N√∫mero de Valores Negativos: {num_negatives}\n")
                    f.write(f"N√∫mero de Valores Duplicados: {num_duplicates}\n")
                    f.write(f"N√∫mero de Outliers: {num_outliers}\n")
                    f.write("Estad√≠sticas Descriptivas:\n")
                    f.write(descriptive_stats.to_string() + "\n")

                    # Detectar anomal√≠as basadas en el umbral de porcentaje
                    if (num_unique / len(variable)) > anomaly_threshold:
                        f.write("Anomal√≠a: Esta variable tiene un alto porcentaje de valores √∫nicos.\n")
                else:
                    if num_unique <= 5:
                        value_counts = variable.value_counts()
                        f.write("Frecuencia de Categor√≠as:\n")
                        for category, count in value_counts.items():
                            f.write(f"{category}: {count}\n")
                    else:
                        top_categories = variable.value_counts().nlargest(5)
                        f.write("Frecuencia de las 5 Categor√≠as M√°s Frecuentes:\n")
                        for category, count in top_categories.items():
                            f.write(f"{category}: {count}\n")
                    f.write("No se proporciona informaci√≥n adicional para variables no num√©ricas.\n")

                f.write("\n")


    def plot_vars(self, columns=None, top_n_categories=5):
        """
        Genera gr√°ficos de distribuci√≥n e interacciones de las variables y los guarda en la carpeta "plots".

        Par√°metros:
        columns (list): Lista de nombres de las columnas a analizar. Si es None, se analizar√°n todas las columnas.
        top_n_categories (int): N√∫mero de categor√≠as a mostrar en el histograma para variables categ√≥ricas.
        """
        plots_dir = os.path.join(self.output_dir, "plots")
        os.makedirs(plots_dir, exist_ok=True)

        if columns is None:
            columns = self.data.columns

        for col in columns:
            variable = self.data[col]
            sns.set_palette(stgo2023)
            plt.figure(figsize=(12, 8))

            if variable.dtype in ["int64", "float64"]:
                # Gr√°fico de distribuci√≥n de densidad para variables num√©ricas
                sns.histplot(variable, kde=True)
                plt.title(f"Distribuci√≥n de Densidad de {col}")
            else:
                # Histograma de las top N categor√≠as para variables categ√≥ricas
                top_categories = variable.value_counts().head(top_n_categories)
                sns.barplot(x=top_categories.index, y=top_categories.values)
                plt.title(f"Top {top_n_categories} Categor√≠as de {col}")
                plt.xticks(rotation=20)

            plt.xlabel(col)
            plt.ylabel("Frecuencia")
            plt.savefig(os.path.join(plots_dir, f"{col}.pdf"))
            plt.close()

        #Gr√°fico de correlaci√≥n para variables num√©ricas
        num_vars = self.data.select_dtypes(include=["int64", "float64"])
        if not num_vars.empty:
            correlation_matrix = num_vars.corr()
            plt.figure(figsize=(12, 8))
            sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm")
            plt.title("Correlaci√≥n entre Variables Num√©ricas")
            plt.savefig(os.path.join(plots_dir, "correlation.pdf"))
            plt.close()

        #Gr√°fico del coeficiente V de Cramer entre variables categ√≥ricas
        cat_vars = self.data.select_dtypes(include=["object", "category"])
        if not cat_vars.empty:
            n = len(cat_vars.columns)
            plt.figure(figsize=(12, 8))
            cramer_matrix = np.ones((n, n))
            for i, col1 in enumerate(cat_vars.columns):
                for j, col2 in enumerate(cat_vars.columns):
                    if i != j:
                        try:
                            confusion_matrix = pd.crosstab(cat_vars[col1], cat_vars[col2])
                            chi2, _, _, _ = stats.chi2_contingency(confusion_matrix)
                            n = confusion_matrix.sum().sum()
                            cramer = np.sqrt(chi2 / (n * (min(confusion_matrix.shape) - 1)))
                            cramer_matrix[i, j] = cramer
                        except:
                            # Maneja la excepci√≥n (error) y contin√∫a con las dem√°s columnas
                            print(f"Error al calcular la matriz de confusi√≥n para {col1} y {col2}")
            sns.heatmap(cramer_matrix, annot=True, cmap="coolwarm", xticklabels=cat_vars.columns, yticklabels=cat_vars.columns)
            plt.title("Coeficiente V de Cramer entre Variables Categ√≥ricas")
            plt.savefig(os.path.join(plots_dir, "cramer.pdf"))
            plt.close()



    def clean_data(self, columns=None, drop_nulls=True, impute_strategy=None, impute_strategy_mapper=None):
        """
        Limpia los datos, eliminando valores duplicados, tratando valores nulos y separando columnas no at√≥micas.
        Guarda los datos procesados en formato .csv.

        Par√°metros:
        columns (list): Lista de nombres de las columnas a las que se aplicar√° la limpieza.
                        Si es None, se aplicar√° a todas las columnas.
        drop_nulls (bool): Si es True, se eliminar√°n las filas con valores nulos. Si es False,
                        se imputar√°n los valores nulos con la t√©cnica de imputaci√≥n seleccionada.
        impute_strategy (str): Estrategia de imputaci√≥n para valores nulos. Puede ser 'mean', 'median', 'most_frequent', o None.
        impute_strategy_mapper (dict): Un mapeo personalizado de estrategias de imputaci√≥n por columna.
        """
        clean_dir = os.path.join(self.output_dir, "clean_data")
        os.makedirs(clean_dir, exist_ok=True)

        # Crear una copia del DataFrame original
        cleaned_data = self.data.copy()

        if columns is None:
            columns = cleaned_data.columns

        # Eliminar valores duplicados en la copia
        cleaned_data.drop_duplicates(subset=columns, inplace=True)

        # Definir caracteres especiales utilizando regex
        special_chars = r'[^A-Za-z0-9.]'
        columns_to_remove = []
        # Identificar columnas no at√≥micas en funci√≥n de caracteres no alfanum√©ricos en los nombres de columna
        non_atomic_columns = [col for col in columns if re.search(special_chars, col)]

        # Separar columnas no at√≥micas
        for col in non_atomic_columns:
            if cleaned_data[col].dtype == "object":
                original_col_names = re.split(special_chars, col) 
                # Reemplazar caracteres especiales
                cleaned_data[col] = cleaned_data[col].str.replace(special_chars, ' ', regex=True)
                # Crear nuevas columnas a partir de los datos separados
                new_cols = cleaned_data[col].str.split(' ', expand=True)
                # Comprobar si el n√∫mero de nuevas columnas es igual al de nombres extra√≠dos, de lo contrario, puede ser un problema
                if new_cols.shape[1] != len(original_col_names):
                    print(f"Warning: The number of split parts in '{col}' does not match with expected names {original_col_names}")
                    # Puede querer manejar este caso con l√≥gica adicional o aserciones aqu√≠
                
                # Asignar los nombres de las columnas originales a las nuevas columnas
                new_cols.columns = original_col_names

                # Iterar a trav√©s de las nuevas columnas y convertirlas en num√©ricas o dejarlas como objetos
                for new_col in new_cols.columns:
                    new_cols[new_col] = new_cols[new_col].apply(lambda x: pd.to_numeric(x, errors='coerce'))

                # A√±adir las nuevas columnas al DataFrame
                cleaned_data = pd.concat([cleaned_data, new_cols], axis=1)
                columns_to_remove.append(col)


        def custom_cleaning(X, drop_nulls, impute_strategy, impute_strategy_mapper):
            # Reemplazar 0, 'nan', 'NaN' con np.nan
            X.replace([0, 'nan', 'NaN'], np.nan, inplace=True)

            for col in X.columns:
                if X[col].dtype == 'object' or isinstance(X[col].dtype, pd.CategoricalDtype):
                    # Para columnas categ√≥ricas, reemplazar NaN con 'ND'
                    X[col].fillna('ND', inplace=True)
                else:
                    # Si la estrategia de imputaci√≥n no es None, se imputan los valores num√©ricos como se especifica
                    if impute_strategy and (col not in X.select_dtypes(include=['object', 'category']).columns):
                        if impute_strategy_mapper and col in impute_strategy_mapper:
                            impute_strategy_col = impute_strategy_mapper[col]
                        else:
                            impute_strategy_col = impute_strategy
                        
                        if impute_strategy_col == 'mean':
                            X[col].fillna(X[col].mean(), inplace=True)
                        elif impute_strategy_col == 'median':
                            X[col].fillna(X[col].median(), inplace=True)
                        elif impute_strategy_col == 'most_frequent':
                            X[col].fillna(X[col].mode().iloc[0], inplace=True)
                        # Si se establece alguna otra estrategia de imputaci√≥n, se coloca aqu√≠
                    elif drop_nulls:
                        # Para columnas num√©ricas, si se elige eliminar valores nulos, se aplica aqu√≠
                        X = X[pd.notnull(X[col])]

            return X


        # Crear el transformador con FunctionTransformer
        cleaning_transformer = FunctionTransformer(
            func=custom_cleaning,
            validate=False,
            kw_args={
                'drop_nulls': drop_nulls,
                'impute_strategy': impute_strategy,
                'impute_strategy_mapper': impute_strategy_mapper
            }
        )

        # Aplicar las transformaciones
        cleaned_data.drop(columns=columns_to_remove, inplace=True)
        cleaned_data = cleaning_transformer.transform(cleaned_data)
        processed_data_file = os.path.join(clean_dir, "data.csv")
        cleaned_data.to_csv(processed_data_file, index=False)
        self.cleaned_data = cleaned_data

    
    def scale(self, categorical_threshold=100):
        """
        Escala los datos utilizando una transformaci√≥n logar√≠tmica seguida de un Min-Max Scaler para variables num√©ricas
        y guarda el resultado en un archivo CSV.
        
        Par√°metros:
        
        categorical_threshold (int): Umbral para codificar variables categ√≥ricas en one-hot.
        """
        scale_dir = os.path.join(self.output_dir, "scale")
        os.makedirs(scale_dir, exist_ok=True)

        # Si cleaned_data a√∫n no est√° disponible, ejecuta clean_data
        if self.cleaned_data is None:
            self.clean_data()

        # Obtener las columnas num√©ricas y categ√≥ricas
        numerical_columns = self.cleaned_data.select_dtypes(include=["int64", "float64"]).columns
        categorical_columns = self.cleaned_data.select_dtypes(include=["object"]).columns

        # Identificar las columnas categ√≥ricas que tienen menos de `categorical_threshold` valores √∫nicos
        categorical_columns_to_encode = [col for col in categorical_columns if self.cleaned_data[col].nunique() < categorical_threshold]

        # Crear un transformador secuencial para logaritmo y Min-Max Scaler para atributos num√©ricos
        numeric_transformer = Pipeline(steps=[
            ('log_transform', FunctionTransformer(func=np.log1p, validate=False)),
            ('minmax_scaler', MinMaxScaler())
        ])

        # Crear un transformador para atributos categ√≥ricos
        categorical_transformer = Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='most_frequent')),
            ('onehot', OneHotEncoder())
        ])

        # Combinar los transformadores en un ColumnTransformer
        preprocessor = ColumnTransformer(
            transformers=[
                ('num', numeric_transformer, numerical_columns),
                ('cat', categorical_transformer, categorical_columns_to_encode)
            ])

        # Aplicar las transformaciones
        scaled_features = preprocessor.fit_transform(self.cleaned_data)
        
        # Obtener nombres de nuevas columnas despu√©s de one-hot encoding
        # Esto es necesario ya que el n√∫mero de columnas aumenta despu√©s del one-hot encoding
        new_categorical_features = preprocessor.named_transformers_['cat']['onehot'].get_feature_names_out(categorical_columns_to_encode)

        # Combinar todos los nombres de columnas, num√©ricas y categ√≥ricas
        all_feature_names = numerical_columns.tolist() + list(new_categorical_features)

        # Crear un DataFrame con las caracter√≠sticas escaladas
        scaled_features = scaled_features.toarray()
        scaled_data = pd.DataFrame(data=scaled_features, columns=all_feature_names)
        
        # Guardar los datos procesados en formato .csv
        scaled_data_file = os.path.join(scale_dir, "scaled_features.csv")
        scaled_data.to_csv(scaled_data_file, index=False)
        self.scaled_data = scaled_data


    def make_clusters(self, cluster_algorithm=KMeans, n_clusters_range=range(2, 11)):
        """
        Genera clusters de los datos y guarda los resultados en la carpeta "clusters".

        Par√°metros:
        cluster_algorithm (sklearn.cluster.ClusterMixin): Algoritmo de clustering de scikit-learn (KMeans) por defecto.
        n_clusters_range (range): Rango de valores para buscar el n√∫mero √≥ptimo de clusters.
        """
        clusters_dir = os.path.join(self.output_dir, "clusters")
        os.makedirs(clusters_dir, exist_ok=True)

        # Si cleaned_data a√∫n no est√° disponible, ejecuta clean_data y scale
        if self.cleaned_data is None:
            self.cleaned_data()
        if self.scaled_data is None:
            self.scale()
        cluster_data=self.cleaned_data.copy()
        # Realizar el estudio del codo para encontrar el n√∫mero √≥ptimo de clusters en todas las dimensiones originales
        distortions = []
        for n_clusters in n_clusters_range:
            pipeline = Pipeline([
                ('cluster', cluster_algorithm(n_clusters=n_clusters, n_init=10))  # Algoritmo de clustering
            ])
            pipeline.fit(self.scaled_data)
            distortions.append(pipeline.named_steps['cluster'].inertia_)

        # Graficar el estudio del codo
        plt.figure(figsize=(12, 6))
        plt.plot(n_clusters_range, distortions, marker='o')
        plt.xlabel('N√∫mero de Clusters')
        plt.ylabel('Distorsi√≥n')
        plt.title('M√©todo del Codo para selecci√≥n del n√∫mero de Clusters')
        plt.savefig(os.path.join(clusters_dir, 'Metodo_codo.pdf'))
        plt.close()
        # Elegir el n√∫mero √≥ptimo de clusters basado en el punto de quiebre en el estudio del codo
        optimal_n_clusters = n_clusters_range[np.argmin(np.diff(distortions)) + 1]
        print(optimal_n_clusters)
        # Realizar clustering con el n√∫mero √≥ptimo de clusters
        pipeline = Pipeline([
            ('cluster', cluster_algorithm(n_clusters=optimal_n_clusters, n_init=10))  # Algoritmo de clustering
        ])
        cluster_labels = pipeline.fit_predict(self.scaled_data)

        # Agregar la columna de cluster_labels al DataFrame original
        cluster_data['Cluster'] = cluster_labels
        cluster_data_file = os.path.join(clusters_dir, "data_clusters.csv")
        cluster_data.to_csv(cluster_data_file, index=False)


        # Proyectar los datos a 2 dimensiones
        pca = PCA(n_components=2)
        reduced_data = pca.fit_transform(self.scaled_data)
        reduced_data = pd.DataFrame(reduced_data, columns=['Dimension 1', 'Dimension 2'])
        reduced_data["Cluster"] = cluster_labels

        # Graficar los resultados coloreando por cluster
        # Define los colores en formato hexadecimal
        colores = ["#0074FF", "#FE4F3A", "#FFD200", "#00CCCC"]
        # Crea la paleta personalizada
        stgo2023 = sns.color_palette(colores)
        plt.figure(figsize=(12, 8))
        sns.scatterplot(x='Dimension 1', y='Dimension 2', hue=reduced_data['Cluster'], data=reduced_data, palette=stgo2023)
        plt.title('Proyecci√≥n de Datos en 2 Dimensiones con Coloreo por Cluster')
        plt.savefig(os.path.join(clusters_dir, 'cluster_plot.pdf'))

        # Guardar los gr√°ficos generados
        plt.close()
        self.cluster_data=cluster_data


    def detect_anomalies(self, algoritmo=IsolationForest(contamination=0.05)):
        """
        Detecta anomal√≠as en los datos y guarda los resultados en la carpeta "anomalies".

        Par√°metros:
        algorithm (str): El algoritmo de detecci√≥n de anomal√≠as a utilizar. Por defecto tenemos 'isolation_forest'.
        """
        anomalies_dir = os.path.join(self.output_dir, "anomalies")
        os.makedirs(anomalies_dir, exist_ok=True)

        # Si los datos no est√°n limpios y escalados, aplique los m√©todos clean_data y scale
        if self.cleaned_data is None:
            self.clean_data()
        if self.scaled_data is None:
            self.scale()


        anomaly_detection_pipeline = Pipeline([('algoritmo_anomalias', algoritmo)
        ])

        # Ajustar el modelo de detecci√≥n de anomal√≠as y obtener etiquetas
        anomaly_labels = anomaly_detection_pipeline.fit_predict(self.scaled_data)

        # Agregar las etiquetas de anomal√≠as al DataFrame de datos
        anomalies_data = self.cleaned_data.copy()
        anomalies_data['anomaly_labels'] = anomaly_labels

        # Guardar los datos con etiquetas de anomal√≠as en formato .csv
        anomalies_data_file = os.path.join(anomalies_dir, "data_anomalies.csv")
        anomalies_data.to_csv(anomalies_data_file, index=False)

        # Reducir las dimensiones con PCA para graficar
        pca = PCA(n_components=2)
        reduced_data = pca.fit_transform(self.scaled_data)

        # Proyectar los datos a 2 dimensiones y graficar los resultados
        plt.figure(figsize=(8, 6))
        plt.scatter(reduced_data[:, 0], reduced_data[:, 1], c=anomaly_labels, cmap=plt.cm.Paired)
        plt.title("Detecci√≥n de Anomal√≠as")
        plt.xlabel("Dimensi√≥n 1")
        plt.ylabel("Dimensi√≥n 2")
        plt.colorbar()
        plt.savefig(os.path.join(anomalies_dir, "anomalies_plot.pdf"))
        plt.close()
        self.anomalies_data=anomalies_data





    def profile(self, columns=None, anomaly_threshold=0.05, top_n_categories=5, categorical_threshold=100, algoritmo=IsolationForest(contamination=0.05), cluster_algorithm=KMeans, n_clusters_range=range(2, 11)):
        """
        Ejecuta todos los m√©todos anteriores en orden.

        Par√°metros:
        columns (list): Lista de nombres de las columnas a analizar en los m√©todos anteriores.
        anomaly_threshold (float): Umbral para detectar anomal√≠as en porcentaje.
        top_n_categories (int): N√∫mero de categor√≠as a mostrar en el histograma para variables categ√≥ricas.
        categorical_threshold (int): Umbral para codificar variables categ√≥ricas en one-hot.
        algorithm (str): El algoritmo de detecci√≥n de anomal√≠as a utilizar.
        cluster_algorithm (sklearn.cluster.ClusterMixin): Algoritmo de clustering de scikit-learn.
        n_clusters_range (range): Rango de valores para buscar el n√∫mero √≥ptimo de clusters.
        """
        self.clean_data(columns=columns)
        self.summarize(columns=columns, anomaly_threshold=anomaly_threshold)
        self.plot_vars(columns=columns, top_n_categories=top_n_categories)
        self.scale(categorical_threshold=categorical_threshold)
        self.make_clusters(cluster_algorithm=cluster_algorithm, n_clusters_range=n_clusters_range)
        self.detect_anomalies(algoritmo=algoritmo)


    
    def clearGarbage(self):
        """
        Elimina las carpetas y archivos creados por la clase Profiler.
        """
        if self.output_dir and os.path.exists(self.output_dir):
            shutil.rmtree(self.output_dir)

In [7]:
perfil1 = Profiler('olimpiadas.parquet')
perfil1.summarize()
perfil1.plot_vars()
perfil1.clean_data()
perfil1.scale()
perfil1.make_clusters()
perfil1.detect_anomalies()
# perfil1.clearGarbage()
# perfil1.profile()

c:\Users\kathe\Desktop\2023-2\LabMDS\Proyecto1\.venv\lib\site-packages\pandas\core\reshape\reshape.py:143: RuntimeWarning: overflow encountered in scalar multiply
  num_cells = num_rows * num_columns

Error al calcular la matriz de confusi√≥n para Name y age-height-weight

c:\Users\kathe\Desktop\2023-2\LabMDS\Proyecto1\.venv\lib\site-packages\pandas\core\reshape\reshape.py:143: RuntimeWarning: overflow encountered in scalar multiply
  num_cells = num_rows * num_columns

Error al calcular la matriz de confusi√≥n para age-height-weight y Name
3

C:\Users\kathe\AppData\Local\Temp\ipykernel_35196\2632459414.py:394: UserWarning: The palette list has more values (4) than needed (3), which may not be intended.
  sns.scatterplot(x='Dimension 1', y='Dimension 2', hue=reduced_data['Cluster'], data=reduced_data, palette=stgo2023)

In [8]:
perfil1.cleaned_data

,ID,Name,Sex,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,age,height,weight
0,1,A Dijiang,M,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,ND,24.0,180.0,80.0
1,2,A Lamusi,M,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,ND,23.0,170.0,60.0
4,5,Christine Jacoba Aaftink,F,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,ND,21.0,185.0,82.0
5,5,Christine Jacoba Aaftink,F,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",ND,21.0,185.0,82.0
6,5,Christine Jacoba Aaftink,F,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,ND,25.0,185.0,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,ND,29.0,179.0,89.0
271112,135570,Piotr ya,M,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",ND,27.0,176.0,59.0
271113,135570,Piotr ya,M,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",ND,27.0,176.0,59.0
271114,135571,Tomasz Ireneusz ya,M,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,ND,30.0,185.0,96.0
271115,135571,Tomasz Ireneusz ya,M,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,ND,34.0,185.0,96.0

In [9]:
perfil1.scaled_data

,ID,Year,age,height,weight,Sex_F,Sex_M,Games_1896 Summer,Games_1900 Summer,Games_1904 Summer,...,Sport_Triathlon,Sport_Tug-Of-War,Sport_Volleyball,Sport_Water Polo,Sport_Weightlifting,Sport_Wrestling,Medal_Bronze,Medal_Gold,Medal_ND,Medal_Silver
0,0.000000,0.804847,0.409636,0.604739,0.537908,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.036449,0.967636,0.386853,0.505539,0.403674,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.098760,0.772093,0.338291,0.652301,0.549454,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.098760,0.772093,0.338291,0.652301,0.549454,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.098760,0.804847,0.431525,0.652301,0.549454,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206154,0.999999,0.673435,0.511392,0.595069,0.587782,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
206155,0.999999,0.983826,0.472886,0.565733,0.395849,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
206156,0.999999,0.983826,0.472886,0.565733,0.395849,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
206157,1.000000,0.853855,0.529692,0.652301,0.623237,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
206158,1.000000,0.886445,0.597425,0.652301,0.623237,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
perfil1.cluster_data

,ID,Name,Sex,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,age,height,weight,Cluster
0,1,A Dijiang,M,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,ND,24.0,180.0,80.0,0
1,2,A Lamusi,M,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,ND,23.0,170.0,60.0,0
4,5,Christine Jacoba Aaftink,F,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,ND,21.0,185.0,82.0,2
5,5,Christine Jacoba Aaftink,F,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",ND,21.0,185.0,82.0,2
6,5,Christine Jacoba Aaftink,F,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,ND,25.0,185.0,82.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,ND,29.0,179.0,89.0,2
271112,135570,Piotr ya,M,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",ND,27.0,176.0,59.0,2
271113,135570,Piotr ya,M,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",ND,27.0,176.0,59.0,2
271114,135571,Tomasz Ireneusz ya,M,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,ND,30.0,185.0,96.0,2
271115,135571,Tomasz Ireneusz ya,M,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,ND,34.0,185.0,96.0,2

In [11]:
# Agrupar los datos por el valor de la columna 'Cluster'
cluster_groups = perfil1.cluster_data.groupby('Cluster')

# Calcular estad√≠sticas descriptivas para cada cluster
cluster_summaries = []
for cluster, cluster_data in cluster_groups:
    cluster_summary = cluster_data.describe(include="all")
    cluster_summary['Cluster'] = cluster  # Agregar el n√∫mero de cluster como una columna
    cluster_summaries.append(cluster_summary)

# Concatenar los res√∫menes de cada cluster en un solo DataFrame
cluster_summary_df = pd.concat(cluster_summaries)

In [12]:
cluster_df = perfil1.cluster_data

In [13]:
display(cluster_summary_df[cluster_summary_df['Cluster']==0])

,ID,Name,Sex,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,age,height,weight,Cluster
count,113319.000000,113319,113319,113319,113319,113319,113319.000000,113319,113319,113319,113319,113319,113319.000000,113319.000000,113319.000000,0
unique,NaN,59201,1,588,225,29,NaN,1,23,40,322,4,NaN,NaN,NaN,0
top,NaN,Heikki Ilmari Savolainen,M,United States,USA,2000 Summer,NaN,Summer,Sydney,Athletics,Football Men's Football,ND,NaN,NaN,NaN,0
freq,NaN,39,113319,7083,7187,8296,NaN,113319,8296,21391,3459,96643,NaN,NaN,NaN,0
mean,67556.802637,NaN,NaN,NaN,NaN,NaN,1985.475957,NaN,NaN,NaN,NaN,NaN,25.699600,179.017182,75.657802,0
std,39142.905071,NaN,NaN,NaN,NaN,NaN,21.672749,NaN,NaN,NaN,NaN,NaN,5.507685,9.901566,13.755274,0
min,1.000000,NaN,NaN,NaN,NaN,NaN,1896.000000,NaN,NaN,NaN,NaN,NaN,12.000000,127.000000,28.000000,0
25%,33688.000000,NaN,NaN,NaN,NaN,NaN,1972.000000,NaN,NaN,NaN,NaN,NaN,22.000000,172.000000,66.000000,0
50%,67595.000000,NaN,NaN,NaN,NaN,NaN,1988.000000,NaN,NaN,NaN,NaN,NaN,25.000000,179.000000,74.000000,0
75%,101501.000000,NaN,NaN,NaN,NaN,NaN,2004.000000,NaN,NaN,NaN,NaN,NaN,28.000000,185.000000,83.000000,0
max,135567.000000,NaN,NaN,NaN,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN,71.000000,226.000000,214.000000,0

In [14]:
# Filtrar el DataFrame para obtener solo las filas donde "Cluster" es igual a 0
cluster_0_df = cluster_df[cluster_df["Cluster"] == 0]

# Contar la frecuencia de valores √∫nicos en la columna "Medal"
medal_counts = cluster_0_df["Medal"].value_counts()

# Imprimir los resultados
print(medal_counts)

Medal
ND        96643
Gold       5667
Bronze     5646
Silver     5363
Name: count, dtype: int64

In [15]:
display(cluster_summary_df[cluster_summary_df['Cluster']==1])

,ID,Name,Sex,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,age,height,weight,Cluster
count,53381.000000,53381,53381,53381,53381,53381,53381.000000,53381,53381,53381,53381,53381,53381.000000,53381.000000,53381.000000,1
unique,NaN,25446,1,314,218,23,NaN,1,22,36,171,4,NaN,NaN,NaN,1
top,NaN,Oksana Aleksandrovna Chusovitina,F,United States,USA,2016 Summer,NaN,Summer,Rio de Janeiro,Athletics,Volleyball Women's Volleyball,ND,NaN,NaN,NaN,1
freq,NaN,29,53381,3747,3798,6121,NaN,53381,6121,10983,1495,44716,NaN,NaN,NaN,1
mean,69830.691164,NaN,NaN,NaN,NaN,NaN,1995.278620,NaN,NaN,NaN,NaN,NaN,23.653098,168.184129,60.089217,1
std,39044.212524,NaN,NaN,NaN,NaN,NaN,16.976362,NaN,NaN,NaN,NaN,NaN,5.741069,9.299868,10.851675,1
min,13.000000,NaN,NaN,NaN,NaN,NaN,1920.000000,NaN,NaN,NaN,NaN,NaN,11.000000,127.000000,25.000000,1
25%,35974.000000,NaN,NaN,NaN,NaN,NaN,1984.000000,NaN,NaN,NaN,NaN,NaN,19.000000,162.000000,53.000000,1
50%,70481.000000,NaN,NaN,NaN,NaN,NaN,2000.000000,NaN,NaN,NaN,NaN,NaN,23.000000,168.000000,59.000000,1
75%,103325.000000,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,NaN,NaN,NaN,NaN,27.000000,174.000000,66.000000,1
max,135568.000000,NaN,NaN,NaN,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN,69.000000,213.000000,167.000000,1

In [16]:
# Filtrar el DataFrame para obtener solo las filas donde "Cluster" es igual a 1
cluster_1_df = cluster_df[cluster_df["Cluster"] == 1]

# Contar la frecuencia de valores √∫nicos en la columna "Medal"
medal_counts = cluster_1_df["Medal"].value_counts()

# Imprimir los resultados
print(medal_counts)

Medal
ND        44716
Bronze     2920
Gold       2875
Silver     2870
Name: count, dtype: int64

In [17]:
display(cluster_summary_df[cluster_summary_df['Cluster']==2])

,ID,Name,Sex,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,age,height,weight,Cluster
count,39459.000000,39459,39459,39459,39459,39459,39459.000000,39459,39459,39459,39459,39459,39459.000000,39459.000000,39459.000000,2
unique,NaN,14118,2,208,114,22,NaN,1,19,15,117,4,NaN,NaN,NaN,2
top,NaN,Ole Einar Bjrndalen,M,United States,USA,2014 Winter,NaN,Winter,Sochi,Cross Country Skiing,Ice Hockey Men's Ice Hockey,ND,NaN,NaN,NaN,2
freq,NaN,27,26129,2881,3226,4673,NaN,39459,4673,7529,3807,34619,NaN,NaN,NaN,2
mean,70014.100231,NaN,NaN,NaN,NaN,NaN,1994.161079,NaN,NaN,NaN,NaN,NaN,25.101447,174.627360,70.755417,2
std,38416.833052,NaN,NaN,NaN,NaN,NaN,16.270254,NaN,NaN,NaN,NaN,NaN,4.635869,8.597311,12.201170,2
min,5.000000,NaN,NaN,NaN,NaN,NaN,1924.000000,NaN,NaN,NaN,NaN,NaN,11.000000,137.000000,32.000000,2
25%,38306.000000,NaN,NaN,NaN,NaN,NaN,1984.000000,NaN,NaN,NaN,NaN,NaN,22.000000,168.000000,62.000000,2
50%,68415.000000,NaN,NaN,NaN,NaN,NaN,1998.000000,NaN,NaN,NaN,NaN,NaN,25.000000,175.000000,70.000000,2
75%,103757.000000,NaN,NaN,NaN,NaN,NaN,2006.000000,NaN,NaN,NaN,NaN,NaN,28.000000,181.000000,79.000000,2
max,135571.000000,NaN,NaN,NaN,NaN,NaN,2014.000000,NaN,NaN,NaN,NaN,NaN,55.000000,206.000000,145.000000,2

In [18]:
# Filtrar el DataFrame para obtener solo las filas donde "Cluster" es igual a 2
cluster_2_df = cluster_df[cluster_df["Cluster"] == 2]

# Contar la frecuencia de valores √∫nicos en la columna "Medal"
medal_counts = cluster_2_df["Medal"].value_counts()

# Imprimir los resultados
print(medal_counts)

Medal
ND        34619
Silver     1633
Gold       1625
Bronze     1582
Name: count, dtype: int64

In [19]:
perfil1.anomalies_data

,ID,Name,Sex,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,age,height,weight,anomaly_labels
0,1,A Dijiang,M,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,ND,24.0,180.0,80.0,1
1,2,A Lamusi,M,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,ND,23.0,170.0,60.0,1
4,5,Christine Jacoba Aaftink,F,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,ND,21.0,185.0,82.0,1
5,5,Christine Jacoba Aaftink,F,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",ND,21.0,185.0,82.0,1
6,5,Christine Jacoba Aaftink,F,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,ND,25.0,185.0,82.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,ND,29.0,179.0,89.0,1
271112,135570,Piotr ya,M,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",ND,27.0,176.0,59.0,1
271113,135570,Piotr ya,M,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",ND,27.0,176.0,59.0,1
271114,135571,Tomasz Ireneusz ya,M,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,ND,30.0,185.0,96.0,-1
271115,135571,Tomasz Ireneusz ya,M,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,ND,34.0,185.0,96.0,-1

In [20]:
import pandas as pd

def summary_of_anomalies(dataframe):
    # Filtrar las instancias normales y an√≥malas
    normal_instances = dataframe[dataframe['anomaly_labels'] == 1]
    anomaly_instances = dataframe[dataframe['anomaly_labels'] == -1]

    # Resumen de las instancias normales
    normal_summary = normal_instances.describe(include="all")

    # Resumen de las instancias an√≥malas
    anomaly_summary = anomaly_instances.describe(include="all")

    return normal_summary, anomaly_summary

# Llamar a la funci√≥n con tu DataFrame
normal_summary, anomaly_summary = summary_of_anomalies(perfil1.anomalies_data)

In [21]:
# Mostrar los res√∫menes
print("Resumen de instancias normales:")
print(normal_summary)

Resumen de instancias normales:
                   ID                      Name     Sex           Team  \
count   195853.000000                    195853  195853         195853
unique            NaN                     95760       2            629
top               NaN  Heikki Ilmari Savolainen       M  United States
freq              NaN                        39  133691          12706
mean     68540.717508                       NaN     NaN            NaN
std      38939.893946                       NaN     NaN            NaN
min          1.000000                       NaN     NaN            NaN
25%      35139.000000                       NaN     NaN            NaN
50%      68613.000000                       NaN     NaN            NaN
75%     102113.000000                       NaN     NaN            NaN
max     135570.000000                       NaN     NaN            NaN

           NOC        Games           Year  Season    City      Sport  \
count   195853       195853  195853.000000  195853  195853     195853
unique     226           51            NaN       2      42         56
top        USA  2000 Summer            NaN  Summer  Sydney  Athletics
freq     13052        13668            NaN  163902   13668      32152
mean       NaN          NaN    1989.731125     NaN     NaN        NaN
std        NaN          NaN      20.264963     NaN     NaN        NaN
min        NaN          NaN    1896.000000     NaN     NaN        NaN
25%        NaN          NaN    1976.000000     NaN     NaN        NaN
50%        NaN          NaN    1992.000000     NaN     NaN        NaN
75%        NaN          NaN    2006.000000     NaN     NaN        NaN
max        NaN          NaN    2016.000000     NaN     NaN        NaN

                          Event   Medal            age         height  \
count                    195853  195853  195853.000000  195853.000000
unique                      590       4            NaN            NaN
top     Football Men's Football      ND            NaN            NaN
freq                       3442  171669            NaN            NaN
mean                        NaN     NaN      25.033382     175.435786
std                         NaN     NaN       5.476732      10.516533
min                         NaN     NaN      11.000000     127.000000
25%                         NaN     NaN      21.000000     168.000000
50%                         NaN     NaN      24.000000     175.000000
75%                         NaN     NaN      28.000000     183.000000
max                         NaN     NaN      71.000000     226.000000

               weight  anomaly_labels
count   195853.000000        195853.0
unique            NaN             NaN
top               NaN             NaN
freq              NaN             NaN
mean        70.633115             1.0
std         14.216414             0.0
min         25.000000             1.0
25%         60.000000             1.0
50%         70.000000             1.0
75%         79.000000             1.0
max        214.000000             1.0

In [22]:
print("\nResumen de instancias an√≥malas:")
print(anomaly_summary)

Resumen de instancias an√≥malas:
                   ID       Name    Sex           Team    NOC        Games  \
count    10306.000000      10306  10306          10306  10306        10306
unique            NaN       6748      2            205     94           40
top               NaN  Yang Yang      M  United States    USA  1998 Winter
freq              NaN         16   5757           1005   1159         2012
mean     70044.894042        NaN    NaN            NaN    NaN          NaN
std      40037.539434        NaN    NaN            NaN    NaN          NaN
min         16.000000        NaN    NaN            NaN    NaN          NaN
25%      36046.000000        NaN    NaN            NaN    NaN          NaN
50%      69250.500000        NaN    NaN            NaN    NaN          NaN
75%     105974.000000        NaN    NaN            NaN    NaN          NaN
max     135571.000000        NaN    NaN            NaN    NaN          NaN

                Year  Season    City       Sport                        Event  \
count   10306.000000   10306   10306       10306                        10306
unique           NaN       2      37          44                          362
top              NaN  Winter  Nagano  Ice Hockey  Ice Hockey Men's Ice Hockey
freq             NaN    7508    2012        1491                         1076
mean     1988.638657     NaN     NaN         NaN                          NaN
std        17.294033     NaN     NaN         NaN                          NaN
min      1908.000000     NaN     NaN         NaN                          NaN
25%      1972.000000     NaN     NaN         NaN                          NaN
50%      1992.000000     NaN     NaN         NaN                          NaN
75%      2002.000000     NaN     NaN         NaN                          NaN
max      2016.000000     NaN     NaN         NaN                          NaN

        Medal           age        height        weight  anomaly_labels
count   10306  10306.000000  10306.000000  10306.000000         10306.0
unique      4           NaN           NaN           NaN             NaN
top        ND           NaN           NaN           NaN             NaN
freq     4309           NaN           NaN           NaN             NaN
mean      NaN     25.470017    174.158840     71.736804            -1.0
std       NaN      5.577466     11.021795     16.487601             0.0
min       NaN     11.000000    136.000000     28.000000            -1.0
25%       NaN     22.000000    166.000000     59.000000            -1.0
50%       NaN     25.000000    174.000000     70.000000            -1.0
75%       NaN     28.000000    182.000000     82.000000            -1.0
max       NaN     63.000000    223.000000    163.000000            -1.0

## 1.2 Caracterizar datos de Olimpiadas (2.0 puntos)

A partir de la clase que hemos desarrollado previamente, procederemos a realizar un an√°lisis exhaustivo de los datos proporcionados en el enunciado. Este an√°lisis se presentar√° en forma de un informe contenido en el mismo Jupyter Notebook y abordar√° los siguientes puntos:

1. Introducci√≥n
    - Se proporcionar√° una breve descripci√≥n del problema que estamos abordando y se explicar√° la metodolog√≠a que se seguir√°.

Elaborar una breve introducci√≥n con todo lo necesario para entender qu√© realizar√°n durante su proyecto. La idea es que describan de manera formal el proyecto con sus propias palabras y logren describir algunos aspectos b√°sicos tanto del dataset como del an√°lisis a realizar sobre los datos.

Por lo anterior, en esta secci√≥n ustedes deber√°n ser capaces de:

- Describir la tarea asociada al dataset.
- Describir brevemente los datos de entrada que les provee el problema.
- Plantear hip√≥tesis de c√≥mo podr√≠an abordar el problema.

2. An√°lisis del EDA (An√°lisis Exploratorio de Datos)
    - Se discutir√°n las observaciones y conclusiones obtenidas acerca de los datos proporcionados. A lo largo de su respuesta, debe responder preguntas como:
        - ¬øComo se comportan las variables num√©ricas? ¬øy las categ√≥ricas?
        - ¬øExisten valores nulos en el dataset? ¬øEn qu√© columnas? ¬øCuantos?
        - ¬øCu√°les son las categor√≠as y frecuencias de las variables categ√≥ricas?
        - ¬øExisten datos duplicados en el conjunto?
        - ¬øExisten relaciones o patrones visuales entre las variables?
        - ¬øExisten anomal√≠as notables o preocupantes en los datos?
3. Creaci√≥n de Clusters y Anomal√≠as
    - Se justificar√° la elecci√≥n de los algoritmos a utilizar y sus hiperpar√°metros. En el caso de clustering, justifique adem√°s el n√∫mero de clusters.
    
4. An√°lisis de Resultados
    - Se examinar√°n los resultados obtenidos a partir de los cl√∫sters y anomal√≠as generadas. ¬øSe logra una separaci√≥n efectiva de los datos? Entregue una interpretaci√≥n de lo que representa cada cl√∫ster y anomal√≠a.
5. Conclusi√≥n
    - Se resumir√°n las principales conclusiones del an√°lisis y se destacar√°n las implicaciones pr√°cticas de los resultados obtenidos.

#### **Introducci√≥n**
La tarea desarrollada se centra en poder caracterizar de forma autom√°tica los datos obtenidos de los Juegos de Santiago 2023, para esto se solicita desarrollar una clase que pueda cumplir con dicha tarea para cualquier tipo de dataset, la clase en particular debe ser capaz de generar un resumen de los datos obtenidos, as√≠ como aplicar una limpieza de los datos  y un escalamiento de estos para su posterior uso, adem√°s se espera generar una cantidad √≥ptima de Clusters para segmentar a los distintos atletas que participen en dichos juegos y detectar anomal√≠as dentro de los datos. Para la creaci√≥n de esta clase y a modo de ejemplo se utiliza un dataset llamado Olimpiadas que contiene informaci√≥n de los distintos atletas que han participado en los distintos juegos olimpicos que se han realizado desde el a√±o 1896 hasta el 2016, este periodo abarca 51 de estos juegos, la informaci√≥n de los datos abarca el nombre, pa√≠s, a√±o de competencia, juego ol√≠mpico en el que particip√≥, deporte, medalla ganada, entre otros.

#### **An√°lisis exploratorio de datos**
El dataset cuenta con 2 variables num√©ricas: 'ID' y 'Year', Adem√°s cuenta con 11 variables categ√≥ricas: 'Name', 'Sex', 'Team', 'NOC', 'Games', 'Season', 'City', 'Sport', 'Event', 'Medal', 'age-height-weight'. a continuaci√≥n se describe cada una de estas variables, para las variables categ√≥ricas tambi√©n se muestran la frecuencia de las categor√≠as, en caso de poseer mas de 5 categor√≠as se presentan las 5 con mayor frecuencia:
   - ID: Presenta un ID √∫nico para cada atleta
   - Year: Presenta el a√±o en el que fueron realizados los juegos
   - Name: Corresponde al nombre del atleta
      - Robert Tait McKenzie: 58
      - Heikki Ilmari Savolainen: 39
      - Joseph "Josy" Stoffel: 38
      - Ioannis Theofilakis: 36
      - Takashi Ono: 33
   - Sex: Corresponde al genero del atleta (F o M)
      - M: 196.594
      - F: 74.522
   - Team: Equipo al que pertenece el atleta (en general es el pa√≠s por el que participa)
      - United States: 17.847
      - France: 11.988
      - Great Britain: 11.404
      - Italy: 10.260
      - Germany: 9.326
   - NOC: Abreviatura de 3 letras para el Team
      - USA: 18.853
      - FRA: 12.758
      - GBR: 12.256
      - ITA: 10.715
      - GER: 9.830
   - Games: A√±o y nombre del juego ol√≠mpico
      - 2000 Summer: 13.821
      - 1996 Summer: 13.780
      - 2016 Summer: 13.688
      - 2008 Summer: 13.602
      - 2004 Summer: 13.443
   - Season: Estaci√≥n del a√±o en el que se realizaron los juegos
      - Summer: 222.552
      - Winter: 48.564
   - City: Ciudad donde se realiz√≥ el evento deportivo en el que particip√≥ el atleta
      - London: 22.426
      - Athina: 15.556
      - Sydney: 13.821
      - Atlanta: 13.780
      - Rio de Janeiro: 13.688
   - Sport: Deporte en el que particip√≥ el atleta
      - Athletics: 38.624
      - Gymnastics: 26.707
      - Swimming: 23.195
      - Shooting: 11.448
      - Cycling: 10.859
   - Event: Evento en el que particip√≥ el atleta, especifica la modalidad del deporte de la competencia
      - Football Men's Football: 5.733
      - Ice Hockey Men's Ice Hockey: 4.762
      - Hockey Men's Hockey: 3.958
      - Water Polo Men's Water Polo: 3.358
      - Basketball Men's Basketball: 3.280
   - Medal: Presenta la medalla ganada por el atleta (Gold, Silver y Bronze), en caso de no haber ganado una medalla se presenta con NA
      - Gold: 13.372
      - Bronze: 13.295
      - Silver: 13.116
   - age-height-weight: Variable no at√≥mica que presenta la edad, la altura y el peso del atleta

   En cuanto a los valores nulos estos solo se presentan en la variable 'Medal', esta variable cuenta con 231.333 valores nulos, lo que se√±ala que la mayor√≠a de atletas no logr√≥ ganar una medalla. las variables categ√≥ricas presentan un rango significativo en cuanto a la cantidad de categor√≠as que presentan, siendo 'sex' la variable con menos categor√≠as presentando solo 2 (M y F), mientras que la variable 'Name' es la que presenta una mayor cantidad de categor√≠as con 134.732 (Cada nombre de atleta es una categor√≠a). Se presentan datos duplicados en ambas variables n√∫mericas, en caso de ID presenta 135.545 datos duplicados y Year presenta 271.081, esto tiene sentido ya que el ID est√° asociado a cada atleta y los atletas generalmente participan en mas de un juego ol√≠mpico y en mas de una competencia, adem√°s la columna Year repetir√° su valor por cada competencia y atleta que particip√≥ en esta en un juego en particular. En cuanto a las relaciones entre variables, para las n√∫mericas se tiene una correlaci√≥n de 0.012 entre ID y Year, lo cual no presenta una correlaci√≥n significativa. Para las variables categ√≥ricas se utiliz√≥ el coeficiente V de Cramer para analizar las relaciones, los resultados de estas muestran una relaci√≥n significativa entre variables que identifican al atleta como Name y age-height-weight, y en las variables que identifican los juegos como: Game, City y season. Luego una de las relaciones interesantes que se observan es la relaci√≥n entre Medals y age-height-weight que presenta un alto coeficiente de Cramer, por otro lado la variable Medal no presenta alguna otra relaci√≥n relevante. Por √∫ltimo la principal anomal√≠a observada es en la variable age-height-weight tanto por ser una variable de datos no at√≥micos y porque se presentan bastantes na para alguna de las 3 variables que representa. 


#### **Clusters y anomal√≠as**
A continuaci√≥n se justifica el uso de los algoritmos para la creaci√≥n de cluster y detecci√≥n de anomal√≠as:

   * Clustering: Se utiliza el algoritmo Kmeans como predeterminado ya que es uno de los algoritmos de clustering m√°s utilizados debido a su eficiencia y simplicidad, es un buen primer acercamiento para la creaci√≥n de clusters en comparaci√≥n con algoritmos mas complejos y que necesitan una mayor comprensi√≥n previa de los datos. En cuanto a sus hiperpar√°metros se establece el valor de n_init en 10, esto implica que el algoritmo se ejecuta 10 veces con diferentes centroides iniciales y se selecciona la mejor asignaci√≥n de clusters para as√≠ reducir la sensibilidad del resultado frente a la inicializaci√≥n aleeatoria. Por √∫ltimo para la elecci√≥n del n√∫mero √≥ptimo de Clusters se utiliza el m√©todo del codo, este metodo utiliza como m√©trica la distorci√≥n para seleccionar el n√∫mero √≥ptimo de Clusters. La distorsi√≥n es una medida de que tan cerca est√°n los puntos dentro de cada cluster respecto a su centroide, mientras menor sea la distorci√≥n mejor es la agrupaci√≥n de puntos en los Clusters, la distorci√≥n tiende a disminuir seg√∫n se aumenta la cantidad de Clusters. El m√©todo del codo utiliza esto √∫ltimo para encontrar el punto donde la distorci√≥n presenta el m√≠nimo cambio al aumentar la cantidad de Clusters, en este caso en particular el n√∫mero √≥ptimo de Clusters es 3.

   * Detecci√≥n de anomal√≠as: Se utiliza el algorimo Isolation Forest como algoritmo determinado, este algoritmo de detecci√≥n de anomal√≠as se basa en la idea de que las anomal√≠as son puntos at√≠picos que son m√°s f√°ciles de aislar en comparaci√≥n con los puntos "normales" en un conjunto de datos, se escoge este algoritmo ya que se destaca por su robustez frente a valores at√≠picos, su eficiencia para trabajar con grandes cantidades de datos y su facilidad de usar al solo utilizar un hiperpar√°metro, este hiperpar√°metro es 'contamination', contamination controla la proporci√≥n estimada de anomal√≠as en el conjunto de datos. Se establece como una fracci√≥n del total de puntos de datos y representa la cantidad de puntos de datos que se espera que sean anomal√≠as. Se utiliza un valor de 0.05 para este hiperpar√°metro, que es un valor t√≠pico para este algoritmo en particular, este valor significa que se asume que alrededor del 5% de los datos son anomal√≠as.


#### **An√°lisis de resultados**
Al analizar los clusters algo que se observa a simple vista es que el Cluster N¬∞ 1 est√° conformado por 113319 atletas los cuales todos pertenecen al sexo masculino, mientras que el Cluster N¬∞ 2 est√° conformado por 53381 atletas del sexo femenino y el Cluster N¬∞ 3  est√° conformado por 39459 atletas y tiene una relaci√≥n de 66% atletas hombre y 34% mujeres en el cluster. En los 3 Clusters la distibuci√≥n de medallas es similar, manteniendo una distribuci√≥n cercana al 85% para los atletas sin medalla, un 5% para atletas de medalla de bronce, plata u oro, exceptuando el Cluster N¬∞ 1 que presenta un 4% de atletas con medalla de bronce, plata u oro. Los valores de peso y altura en promedio son mayores para el Cluster de solo hombres, seguido por el Cluster mixto y finalmente el Cluster de mujeres. En cuanto a la edad el cluster de mujeres presenta una edad promedio menor, mientras que los clusters de hombres y mixtos presentan un valor mayor, los 3 cluster presentan una edad promedio menor a la media de los datos escalados. 
   
Luego al analizar las anomal√≠as detectadas, el algoritmo detect√≥ 10,308 anomal√≠as y 195,851 datos que no son anomal√≠as, se observan diferencias en las medias y desviaciones estandar de las variables age, height, weight y year, adem√°s de que en las anomal√≠as se observa una distribuci√≥n mucho mas equitativa en cuanto a los ateltas y si ganaron o no medallas en comparaci√≥n a los datos no an√≥malos donde los atletas que no ganaron medallas representan un poco mas del 80% de los datos, por √∫ltimo las participaciones en distintos deportes y juegos tambi√©n muestra una diferencia en cuanto a las proporciones entre ambos datos.


#### **Conclusi√≥n**
En la realizaci√≥n de la tarea en cuesti√≥n se obtiene informaci√≥n detallada de los juegos a analizar, obteniendo un resumen de los datos y poder segmentar a los atletas que participaron en los distintos juegos, se obtienen 3 clusters claramente separados al utilizar el algoritmo PCA para poder observarlo en 2 dimensiones, la segmentaci√≥n de los atletas permite poder realizar un an√°lisis mas profundo a cada cluster y los atletas que los componen, adem√°s la detecci√≥n de anomal√≠as permite detectar nuevas maneras de mejorar los datos y la obtenci√≥n de estos en un futuro.